<div class="container mt-5">
    <button class="btn btn-success w-100" [routerLink]="['/register']" routerLinkActive="router-link-active">Cadastrar novo usuário</button>
    <div>
        <label class="form-labal "for="">Pesquisar: </label>
        <input type="text" class="form-control" placeholder="Digite o nome do usuário que deseja buscar" (input)="search($event)">
    </div>

    <table class="table table-hoverede table-bordered mt-5">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>JobTitle</th>
                <th>Salary</th>
                <th>Cpf</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (users.length > 0)
            {
                @for (user of users; track $index)
                {
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.jobTitle}}</td>
                        <td>{{user.salary}}</td>
                        <td>{{user.status == true ? "Active" : "Inactive"}}</td>
                        <td>
                            <button class="btn btn-warning mx-2">Edit</button>
                            <button class="btn btn-info mx-2">Details</button>
                            <button class="btn btn-danger mx-2" (click)="delete(user.id)">Delete</button>
                        </td>
                    </tr>
                }
            }
            @else
            {
                <tr class="text-center">Nenhum usuário cadastrado.</tr>
            }
        </tbody>
    </table>
</div>